In [7]:
import pandas as pd
import numpy as np
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import accuracy_score, mean_squared_error

In [3]:
"""
Load the file “zoo.data” and look at the info and the first five rows. The first 
column denotes the animal name and the last one specifies a high-level class 
for the corresponding animal.
"""

CSV_PATH = r'D:\CourseWork\data-science-python-certification-course\Assignments\10 Unsupervised Learning\Case Study III\resources\zoo.csv'
df = pd.read_csv(CSV_PATH)
df.head(5)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [15]:
# Find out the unique number of high-level classes
print(dict(zip(*np.unique(df['class_type'], return_counts=True))))

{1: 41, 2: 20, 3: 5, 4: 13, 5: 4, 6: 8, 7: 10}

In [ ]:
"""
Use the 16-intermediate feature and perform an agglomerative clustering.
[ Hint: Refer to the agglomerative clustering module in scikit learn and set the 
number of clusters appropriately]
"""

agc = AgglomerativeClustering(n_clusters=4)
predicted = agc.fit_predict(df.iloc[:, 1:17])

print("Accuracy:", accuracy_score(df['class_type'], predicted))
print("MSE:", mean_squared_error(df['class_type'], predicted, squared=False))